[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
py-algorand-sdk = "*"
pyteal = "*"

[dev-packages]
autoflake = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.10"
