[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
py-algorand-sdk = "*"
pyteal = {editable = true, ref = "c9fe5796753b5fa8ac26c7f3b832fb6850a044bf", git = "https://github.com/algorand/pyteal.git"}

[dev-packages]
autoflake = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.10"
